.global-style-diy{
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 99;
}

.modal-show{
  display: block;
}

.modal-hide{
  display: none;
}

.modal-container{
  position: fixed;
  left:50%;
  top:50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  padding: 20px 60px 20px 20px;
  border-radius: 10px;
  background: #fff;
  border-color: #eee;
  z-index: 999;
  font-weight: 400;
}

.modal-container-title{
  line-height: 60px;
  font-size: 20px;
  text-align: center;
}

.form-line{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 10px 0;
}

.form-line label{
  text-align: right;
  width: 80px;
  font-size: 16px;
  padding-right: 10px;
  color: #666;
  line-height: 40px;
}

.form-line input { 
  width: 300px;
  border: 1px solid #eee;
  padding:0 5px;
  height: 40px;
}

.modal-radioGroup{
  line-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;

}

.modal-radioGroup .modal-radioGroup-item{
  margin: 0 5px;
}

.buttonGroup{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: center;
}

.buttonGroup .submit-btn,
.buttonGroup .reset-btn{
  padding: 5px 10px;
  margin: 0 10px;
  background: rgb(122, 150, 241);
  border: none;
  outline: none;
  color: #fff;
}

.buttonGroup .reset-btn{
  background: #eee;
  color: #666;
}