html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
abbr,
acronym,
address,
big,
cite,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
input,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font-style: normal;
    list-style: none;
}

@font-face {
    font-family: 'iconfont';
    /* project id 427571 */
    src: url('https://at.alicdn.com/t/font_427571_x3pt8w6zu4x11yvi.eot');
    src: url('https://at.alicdn.com/t/font_427571_x3pt8w6zu4x11yvi.eot?#iefix') format('embedded-opentype'), url('https://at.alicdn.com/t/font_427571_x3pt8w6zu4x11yvi.woff') format('woff'), url('https://at.alicdn.com/t/font_427571_x3pt8w6zu4x11yvi.ttf') format('truetype'), url('https://at.alicdn.com/t/font_427571_x3pt8w6zu4x11yvi.svg#iconfont') format('svg');
}

.iconfont {
    font-size: 16px;
    font-family: 'iconfont'
}

.multiselector_wrap {
    position: relative;
    top: 0;
    .shadow_wrap {
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
        z-index: 99;
        display: none;
    }
    .selector_wrap {
        position: fixed;
        background: #fff;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 5px 5px 0 5px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        line-height: 24px;
        -webkit-transform: translateY(100%);
                transform: translateY(100%);
        z-index: 100;
        max-height: 450px;
        overflow: scroll;
        .selector_wrap_item {
            //这里假设微信浏览器都支持css3
            position: relative;
            padding: 15px 10px;
            border-bottom: 1px solid #eee;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            display: -webkit-flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            span:last-child {
                font-size: 12px;
                color: #409CF9;
            }
            .notseleted {
                opacity: 0;
            }
        }
    }
}

.multiselector_wrap.isShow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    .shadow_wrap {
        opacity: 1;
        display: block;
    }
    .selector_wrap {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        -webkit-transition: -webkit-transform 300ms ease-in-out;
        transition: -webkit-transform 300ms ease-in-out;
        transition: transform 300ms ease-in-out;
        transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
    }
}

.multiselector_wrap.isHide {
    .selector_wrap {
        -webkit-transition: -webkit-transform 300ms ease-in-out;
        transition: -webkit-transform 300ms ease-in-out;
        transition: transform 300ms ease-in-out;
        transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
    }
}


/*slider*/

.rc_slider_wrap {
    position: relative;
    margin: 25px 18px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    .rc_slider_track {
        height: 1px;
        background: #409CF9;
        position: relative;
        .rc_slider_track_step {
            position: absolute;
            width: 100%;
            height: 3px;
            top: -1px;
            .rc_slider_step_icon {
                display: inline-block;
                position: absolute;
                top: 0;
                width: 2px;
                height: 3px;
                background: #f00;
                z-index: 10;
            }
        }
    }
    .rc_slider_thumb {
        width: 9px;
        height: 9px;
        border-radius: 50%;
        background: #f00;
        position: absolute;
        top: -4px;
        margin-left: -4px;
    }
    .rc_slider_thumb.showTip::before {
        content: attr(data-attr);
        position: relative;
        width: 24px;
        top: -20px;
        left: -8px;
        text-align: center;
        display: block;
        font-size: 12px;
    }
}

.rc_ds_wrap {
    position: relative;
    padding: 18px 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 20px 0;

    .rc_ds_top_shadow,
    .rc_ds_bottom_shadow {
        position: absolute;
        width: 100%;
        height: 98px;
        left: 0;
        z-index: 9;
        opacity: 0.9;
    }
    .rc_ds_top_shadow {
        top: 0px;
        background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#fff));
        background: linear-gradient(#fefefe, #fff);
    }

    .rc_ds_bottom_shadow {
        height: 96px;
        bottom: 0px;
        background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fefefe));
        background: linear-gradient(#fff, #fefefe);
    }
    
    .rc_ds_selected_line {
        height: 40px;
        position: absolute;
        width: 100%;
        left: 0;
        top: 98px;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        z-index: 1;
    }
    .rc_ds_container {
        height: 200px;
        overflow-y: hidden;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        ul {
            margin: 0 10px;
            z-index: 2;
        }
        li {
            display: block;
            width: 100px;
            height: 40px;
            text-align: center;
            line-height: 40px;
        }
        .move {
            -webkit-transform: translateY(-160px);
                    transform: translateY(-160px);
        }
    }
}

.rc_table_container {
    position: relative;
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-box-shadow: 0 0 1px #eeeeee;
    box-shadow: 0 0 1px #eeeeee;

    table > colgroup > col {
        width: 100px;
    }

    table {
        border-collapse: collapse;
        border: 1px solid #f7f7f7;
    }

    table > thead > tr > th {
        background: #f7f7f7;
        padding: 8px 0;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        border: 1px solid #f7f7f7;
    }

    table > tbody > tr > td {
        padding: 8px 0;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        text-align: center;
        border: 1px solid #f7f7f7;
    }

    table > tbody > tr:nth-child(2n)  {
        background: rgb(215, 238, 247);
    }

    table > tbody > tr > td.diff {
        background: rgb(108, 243, 164);
    }

    table > tbody > tr.downStream {
        background: rgb(108, 243, 164);
    }

    .rc_table_left_container {
        position: absolute;
        top: 0;
        left: 0;
        -webkit-box-shadow: 1px 0 15px rgb(169, 214, 231);
                box-shadow: 1px 0 15px rgb(169, 214, 231);
        .rc_table_left_header_container {
            position: absolute;
        }

        .rc_table_left_body_container {
            margin-top: 40px;
        }
    }

    .rc_table_right_container {
        position: absolute;
        top: 0;
        right: 0;
        -webkit-box-shadow: 0 1px 15px rgb(169, 214, 231);
                box-shadow: 0 1px 15px rgb(169, 214, 231);
        .rc_table_right_header_container {
            position: absolute;
        }

        .rc_table_right_body_container {
            margin-top: 40px;
        }
    }

    .rc_table_scroll_container {
        overflow-x: auto;
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        margin: 0 400px;

        .rc_table_scroll_header_container {
            position: absolute;
            top: 0;
            overflow: hidden;
            -webkit-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
        }

        .rc_table_scroll_body_container {
            margin-top: 40px;
        }
    }

    // .left_side {
    //     position: absolute;
    //     left: 0; 
    // }

    // .right_side {
    //     position: absolute;
    //     right: 0;
    // }

    // .center {
    //     margin: 0 300px;
    //     overflow-x: auto;
    // }
}